body {
  margin: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow-y: auto;
}

.mobile-wrapper {
  width: 375px;
  height: 758px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background: var(--Blue-Blue02, #E5F2FF);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 20px 10px 20px;
  color: var(--Gray-Gray10, #23232A);
}

.subtext {
  font-size: 16px;
  color: var(--Gray-Gray10, #23232A);
  font-weight: 500;
  margin: 0 20px 10px 20px;
  line-height: 1.5;
}

.map-wrapper {
  position: relative;
  display: inline-block;
}

.map-image {
  width: 360px;
  height: auto;
  border-radius: 8px;
}

.marker {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 2px 2px;
  font-size: 12px;
  color: #2E2E38;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.marker::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 30px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid white;
}

.region {
  font-weight: 500;
  margin-right: 8px;
  margin-left: 6px;
}

.count-circle {
  background: var(--Gray-Gray02, #EDEDF2);
  color: var(--Mint-Mint10, #0F8F88);
  font-weight: 400;
  font-size: 12px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compass {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 70px;
  opacity: 1;
}

.add-button {
  position: absolute;
  bottom: 50px;
  width: 140px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--Mint-Mint09, #13BEB4);
  color: #FFFFFF;
  border: none;
  border-radius: 16px;
  padding: 12px 10px 12px 14px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.add-button .plus-icon {
  font-size: 16px;
  margin-right: 6px;
  line-height: 1;
}